.main
  .main__head
    .main__head_left
      = @group.name
      .main__head_left_group
        %a Member:
        .main__head_left_name
        - @group.users.each do |user|
          = user.name     
    .main__head_right
      = link_to edit_group_path(@group) do
        Edit
  .main-chat
    .messages
      = render @messages   
  .main__foot
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
          = f.submit 'Send' , class: 'form__submit'
 
        
      

